html {font-size: 62.5%;}
body{margin: 0; padding: 0; font-family: 'Open Sans', sans-serif !important; color: #3d2f2e; font-size: 14px;}
img{max-width: 100%;}
*{box-sizing: border-box;}
ul,ol,li,label{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{margin: 0; padding: 0; color: #3d2f2e; line-height: 1.2; font-family: 'Oswald', sans-serif;}
h3{font-family: 'Open Sans', sans-serif !important; font-size:16px;}
p{margin: 0; padding: 0; font-size: 1.6rem; font-weight: 400; color:#3d2f2e;}
p.sub-p{font-size: 1.3rem; }
input,textarea,button{font-family: 'Open Sans', sans-serif;}
input:focus,textarea:focus {
	background: #f7f7f7;
}
.bottom25{bottom: 25px !important;}
.btm36{bottom: 36px !important;}
.btm180{bottom: 180px !important;}
.right65{right:65px !important;}
.right0{right: 0px !important;}
.pdng-right0{padding-right: 0px !important;}
.mdl-size{max-width:600px !important; margin:30px auto;}
.range-lbl label{display: none;}
.pdng-lr5{padding-left:5px; padding-right:5px;}
.float-left{float:left;}
.float-right{float:right;}
.font-size14{font-size: 14px;}
input::placeholder,textarea::placeholder {opacity: 1;}
a,a:hover,a:focus{text-decoration: none;}

h1{font-size: 5rem; font-weight: 700; color: #ffffff;}
h2{font-size: 4rem; font-weight: 700; margin: 0 0 10px;}
h2.main-heading {font-size: 8rem; font-weight: 700; margin: 0 0 10px;}
h3{font-size: 2rem;}
h5.sub-heading{font-size: 1.8rem; font-weight: 700;}
h4{font-size: 2.4rem;}
h5{font-size: 2rem;}
h6{font-size: 1.6rem;}
h6.sub-heading{font-size: 1.5rem;}
.pdng10{padding:10px;}
.pdng0{padding:0px;}
.mrgn-right0{margin-right:0px !important;}
.pdng-right0{padding-right:0;}
.mrgn-top10{margin-top:10px;}
.mrgn-top40{margin-top:40px;}
.mrgn-top60{margin-top:60px;}
.mrgn-top72{margin-top:72px;}
.mrgn-top104{margin-top:104px;}
.brdr-btm0{border-bottom:none !important;}
.bckgrnd-white{background:#fff; border-radius: 0px 3px 3px 3px; padding:30px; box-shadow: 0px 0px 100px -25px #2d2d2d; float: left; width: 100%; display: block; height:100%; min-height:200px;}
.mrgn-btm25{margin-bottom: 25px;}
.mrgn-btm70{margin-bottom:70px;}
.mrgn-right1{margin-right:1px; border:none;}
.pdng-lr15{padding:0px 15px;}
.brdr-rads{border-radius: 0 5px 5px 0 !important;}
.mrgn-top{margin-top:20px;}
.width48{width:100%; max-width:48%;}
.pdng-left0{padding-left:0;}
.btm90{bottom:90px !important;}
.right0{right:0px !important;}
.cta-brown {
	display: inline-block;
	background-color: #9a2743;
	padding: 10px 30px;
	font-size: 1.4rem;
	font-weight: 700;
	border-radius: 30px;
	line-height: 1;
	transition: .3s;
	color: #ffffff;
	border: 2px solid #9a2743;
	text-transform: uppercase;
}
.cta-transparent{
	background-color: transparent;
	border: 2px solid #fff;
}
.cta-transparent2{
	background-color: transparent;
	color: #9a2743;
	border: 2px solid #9a2743;
}
.cta-brown:hover {
	background-color: transparent;
	color: #9a2743;
}
.cta-brown2 {
	display: inline-block;
	color: #9b2743;
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1;
	transition: .3s;
}
.cta-brown2:hover {
	color: #3d2f2e;
}

.social-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	text-align: center;
	color: #ffffff;
	background: #514443;
	border-radius: 50%;	
	transition: .2s;
}
.social-icon:hover {
	background: #ffffff;
	color: #2d2d2d;
}
.pd-main {
	padding: 95px 0;
}
.bg-white {
	background-color: #ffffff;
}
.bg-grey {
	background-color: #f7f7f7 !important;
}
.bg-brown {
	background-color: #3d2f2e;
}
.color-white {
	color: #ffffff;
}
.color-brown {
	color: #9b2743;
}
.color-black {
	color: #3d2f2e;
}
.color-light-gray {
	color: #666666;
}
.color-light-brown {
	color: #918a89;
}
.fwl {
	font-weight: 300;
}
.fwr {
	font-weight: 400;
}
.fwm {
	font-weight: 500;
}
.fwsb {
	font-weight: 600;
}
.fwb {
	font-weight: 700;
}
.fweb {
	font-weight: 800;
}
.trfm-up {
	text-transform: uppercase;
}
.mb-30 {
	margin: 0 0 30px;
}
.mb-50 {
	margin: 0 0 50px;
}
.mt-25 {
	margin: 25px 0 0;
}
.header-wrapper {
    width: 100%;
    float: left;
    position: fixed;
    z-index: 2;     
    margin: 0;
    transition: .3s;
    background-color: #f9f9f9;
    top: 0;
}
.sticky-header .header-wrapper {
	/*background: #3d2f2e;
	transform: translateY(-30px);*/
}
.header {
	width: 100%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 72px;
	position: relative;
}
.logo {
	width: 100%;
	float: left;
	position: absolute;
	/*left: 50%;
	top: 50%;*/
	transform: translate(-50%, -50%);
}
.navigation {
	width: auto;
	float: left;
	display: flex;
	align-items: center;
	flex-basis: 50%;
	/*padding-right: 100px;*/
	justify-content: flex-start;
}
.right {
    flex-basis: 50%;
    text-align: right;
    /*padding-left: 100px;*/
    height: 100%;
}
.navigation ul {
	list-style-type: none;
	width: auto;
	float: left;
}
.navigation ul.signup-sec {
	padding-left: 45px;
	margin: 0 -10px;
	font-size: 0;
}
.navigation ul li {
	display: inline-block;
	position: relative;
}
.navigation ul li a {
	display: inline-block;
	font-size: 1.4rem;
	text-transform: uppercase;
	color:#3d2f2e;
	line-height: 1;
	padding: 15px;
}
.navigation ul li a.order-online:hover {
	color: #9a2743;
	background-color: #ffffff;
	border: 2px solid #ffffff
}
ul.signup-sec li {
    padding: 0 0px;
    border-right: 1px solid #ffffff;
    height: 100%;
    align-items: center;
    display: flex;
}
ul.signup-sec:first-child{
	padding: 0px;
}
ul.signup-sec li:last-child {
	border-right: none;
}
ul.signup-sec li a {
	padding: 0;
	font-size: 14px;
	color:#3d2f2e;
	text-transform: uppercase;
}
ul.signup-sec li a:hover {
	text-decoration: none
}  
ul.signup-sec li:nth-child(2) a {
	position: relative;
}
ul.signup-sec li:nth-child(2) a::after {

    content: '';
    position: absolute;
    height: 15px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    border-right: 1px solid #000;

}
ul.signup-sec li:first-child a {
    padding: 10px 15px;
    background: #9b2743;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
	border-radius:6px;
	margin-right:24px;

}
.signup-sec .header-cta {

}
.navigation ul li ul {
	position: absolute;
	background: #ffffff;
	min-width: 160px;
	box-shadow: 0px 0px 10px -4px #a9a9a9;
	border-radius: 5px;
	display: none;
	z-index: 1;
}
.navigation ul li:hover ul {
	display: block;
}
.navigation ul li ul::before {
    content: "";
    position: absolute;
    left: 10px;
    right: 0;
    bottom: 100%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #fff;
}
.navigation ul li li {
	width: 100%;
	border-top: 1px solid #dddddd;
}
.navigation ul li li:first-child {
	border-top: none;
}
.navigation ul li li a {
	width: 100%;
	color: #2e2b2e;
}
.navigation ul li li a:hover {
	background-color: #3e2b2e;
	color: #ffffff;
}
.navigation ul li li:first-child a:hover {
	border-radius: 4px 4px 0 0;
}
.navigation ul li li:last-child a:hover {
	border-radius: 0 0 4px 4px;	
}
.signup-sec {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
	float: left;

}
.mobile-nav {
	width: auto;
	float: left;
	display: none !important;
}

.banner {
	width: 100%;
	float: left;
	background: url('../images/banner.jpg') no-repeat center center / cover;
	position: relative;
	text-align: center;
}
.banner .content {
	width: 100%;
	float: left;
	padding: 270px 0 180px;
}
.cta-section {
	width: 100%;
	float: left;
	margin: 30px 0 0;
}
.cta-section a {
	margin: 0 6px 20px;
}
.cta-section a:hover {
	background-color: #ffffff;
	color: #9b2743;
}

.offers-sec{
	width: 100%;
	float: left;
}
.offers-outer {
	width: 100%;
	float: left;
	box-shadow: 0px 0px 50px -25px #2d2d2d;
	margin: 20px 0 0;
}
.offers-inner {
	width: 100%;
	float: left;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 20px;
	background: #fff;
}
.offers-inr-content1 {
	width: 60%;
	float: left;
}
.offers-inr-content2 {
	width: 40%;
	float: left;
	padding-left: 40px;
	padding-right: 20px;
}
.offers-inr-content2 .pwr {
    top: -32px;
    left: 12px;
    font-size: 4rem;
    border-bottom: 3px solid;
}
.offers-inr-content2 .title {
	width: 100%;
	float: left;
	margin: 0 0 15px;
}
.offers-inner a.order-now {
	margin: 0 0 50px;
}
.offers-inr-content2 span.sub-heading {
	font-size: 1.3rem;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 0 10px;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    top: -13%;
    right: 0;
    margin: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #3d2f2e;
}

.featured-products {
	width: 100%;
	float: left;
	padding: 95px 0 65px;
	text-align: center;
}
.products-outer {
	width: 100%;
	float: left;
}
.products-inner {
	width: 100%;
	float: left;
	margin: 0 0 30px;
}
.products-inr-title {
	width: calc(100% - 40px);
	display: inline-block;
	padding: 20px;
	text-align: left;
	margin: -40px 0 0;
	box-shadow: 0px 0px 50px -35px #2d2d2d;
}
.products-inr-title h4 span {
	float: right;
}
.postcode-sctn{
	background:#eae9dc;
	width:100%;
}
.poscode{
	padding: 15px;
    margin-bottom: 20px;
}
.head-title {
    font-size: 16px;
	font-family: 'Open Sans', sans-serif !important;
}
.vm-check-delivery {
    display: table;
    margin: 15px auto 0 auto;
}
.app-checkout-container h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.vm-time-slots {
    text-align: center;
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
}
.vm-time-slot {
    display: inline-block;
    list-style: none;
    margin: 0;
    background: #d3ebdb;
    position: relative;
    width: 16%;
    line-height: 30px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 5px solid white;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    color: #443727;
    text-transform: uppercase;
}
.vm-time-slot:hover, .vm-time-slot:focus{
	background: #9a2743;
	color:#fff;
}
.ingredient, .vm-ingredient {
    height: auto;
    text-align: left;
    margin-top: 0;
    margin-bottom: 15px;
}
.ingredient, .vm-ingredient img {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
   /*margin-right: 10px;*/
}
.ingredient, .vm-ingredient div {
    display: inline-block;
    font-size: 12px;
	padding-left: 6px;
}
.ingredient-txt{
	font-size:14px;
}
.form-group2 {
    /*display: table-cell;*/
    padding-right: 15px;
	margin-bottom: 15px;
}
.form-group2 input, .form-group2 select {
    padding: 3px 0;
    background: transparent;
    border-bottom: 1px solid #9b2743 !important;
    margin: 0;
    height: 30px;
    border: none;
	color: #555;
	font-size:16px;
	color:#cdcdcd !important;
}
.form-control-static {
    padding-top: 0;
    padding-bottom: 15px;
    height: auto;
}
.blyf2-checkbox{
	width: 50%;
    display: -webkit-box;
	float:left;
}
.blyf2-checkbox input{
	margin-right: 5px;
	width: 20px;
    height: 20px;
}
.card-number{
}
.card-number label{
	font-size:14px;
}
.card-number input{
	font-size:12px;
}
.chrg-txt{
	float: left;
}
.chrg-txt p{
	font-size:14px;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
	width: 100%;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.news {
	width: 100%;
	float: left;
	text-align: center;
	padding: 95px 0 65px;
}
.news-outer {
	width: 100%;
	float: left;
}
.news-inner {
	width: 100%;
	float: left;
	padding: 20px;
	text-align: left;
	box-shadow: 0px 0px 40px -20px #2d2d2d;
	margin: 0 0 30px;
}
.news-inner span {
	display: inline-block;
	font-size: 1.1rem;
	background-color: #d3ebdb;
	padding: 5px 13px;
	margin: 0 0 5px;
	border-radius: 30px;
	text-transform: uppercase;
}
.news-inner h4 {
	margin: 0 0 15px;
	text-transform: uppercase;
} 

.careers {
	width: 100%;
	float: left;
	text-align: center;
}
.careers p {
	max-width: 760px;
	margin: 0 auto;
}
.careers-outer {
	width: 100%;
	float: left;
	margin: 5px 0 0;
}
.careers-inner {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}
.careers-inner:last-child {
	border-bottom: none;
}
.careers-inner h6 {
	float: left;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-align: left;
	width: 50%;
}
.careers-inner a {
	float: right;
}
.careers-inner a:hover {
	background-color: #9a2743;
	color: #ffffff;
}
.ten-a-day{
	text-transform: uppercase;
    font-size: 14px;
    white-space: nowrap;
    line-height: 20px;
	position: absolute;
    bottom: 80px;
}
.ten-a-day:before{
	position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    content: '';
    background: url(../images/fruit-vegetable.png) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    vertical-align: middle;
    margin-right: 5px;
}
.ten-a-day span {
    vertical-align: middle;
}
.ten-a-day span b {
    color: #4b9800;
}
.vm-diet-list .diet-item.isToggleable {
    cursor: pointer;
}
.istoggleable {
    cursor: pointer;
}
.description h4{
	font-family:'open sans';
	font-size:12px;
	color: red;
}
.description p{
	font-family:'open sans';
	font-size:12px;
}
.diet-item {
    text-align: center;
    height: 205px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.diet-item.active, .diet-item:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}
.diet-item, .image {
    height: 104px;
    width: 104px;
    display: block;
    overflow: hidden;
    margin: 0 auto 15px auto;
}
.diet-item, .image img {
    width: 100%;
    height: 100%;
    margin: auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}
.kcal-txt-profile{
    position: absolute;
    right: 64px;
    /*bottom: 164px;*/
	top: 100px;
}
.kcal-txt-div{
	position: absolute;
    right: 90px;
    bottom: 110px;
}
.kcal-txt-hdng{
	font-size: 36px;
    width: 100%;
    float: left;
    text-align-last: center;
    line-height: 36px;
}
.kcal-txt{
	font-size: 16px;
    width: 100%;
    float: left;
    text-align: center;
    line-height: 22px;
}
.kcal-txt-small{
	font-size: 12px;
    text-align: center;
    width: 100%;
    float: left;
    line-height: 24px;
}
.vm-calories-chart, .percent-chart{
    position: absolute;
    display: block;
    height: 100%;
    right: 30px;
}
.vm-calories-chart, .percent-chart div {
    position: relative;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
	font-size: 14px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:10px;
}
.blyf-diet > div, .blyf-allergen > div {
    display: inline-block;
}
.blyf-diet img, .blyf-allergen img {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}
.blyf-energy-facts ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
    text-align: center;
}
.blyf-energy-facts ul li {
    margin-bottom: 5px;
    font-size: 14px;
    position: relative;
}
.blyf-energy-facts ul li div {
    position: relative;
    display: inline-block;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-align: left;
}
.blyf-energy-facts ul li div span {
    padding: 0 10px 0 0px;
    position: relative;
    display: inline-block;
    background: #ffffff;
    z-index: 1;
}
.blyf-energy-facts ul li div span:last-child {
    float: right;
    padding: 0 0 0 10px;
}
.blyf-energy-facts ul li div:after {
    position: absolute;
    content: ' ............................................................................. ';
    bottom: 0px;
    right: 0;
    width: 100%;
    font-size: 11px;
    letter-spacing: 2px;
}
.blyf-checkout-container h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.large {
    width: auto;
    padding: 0 5px;
}
.box-disply{
	position: relative;
    display: inline-block;
}
.footer {
	width: 100%;
	float: left;
}
.footer-outer {
	width: 100%;
	float: left;
	padding: 45px 0 10px;
}
.footer-items {
	width: 100%;
	float: left;
	margin: 0 0 20px;
}
.footer-items h5 {
	color: #fff;
	margin: 0 0 10px;
	text-transform: uppercase;
}
.footer-items ul {
	list-style-type: none;
	width: 100%;
	display: inline-block;
	font-size: 0;
}
.footer-items ul.icons li {
	display: inline-block;
	margin-right: 10px;
}
.footer-items ul.icons li:last-child {
	margin-right: 0;
}
.footer-items ul.icons li a{
	font-size: 1.6rem;
}
.footer-items ul li {
	position: relative;
	margin: 0 0 10px;
}
.footer-items ul.links2 li {
	margin: 0 0 15px;
}
.footer-items ul.links li a,
.footer-items a.over-ons {
	display: inline-block;
	color: #ffffff;
	font-size: 1.3rem;
	line-height: 1;
}
.footer-items ul.links li a:hover,
.footer-items a.over-ons:hover {
	text-decoration: underline ;
}
.footer-items span {
	font-size: 1.4rem;
	color: #ffffff;
	width: 100%;
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.2;
	margin: 0 0 3px;
}
.copyright-sec {
	width: 100%;
	float: left;
	border-top: 1px solid #473a39;
	text-align: center;
	font-size: 1.3rem;
	padding: 15px 0;
}
.modal-header{border-bottom:none !important;}
.modal-footer{border-top:none !important;}
.login-regis{
	padding: 50px 40px 40px 40px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
	float:left;
	background:url(../images/login-bck.png) no-repeat;
	background-position:right top;
	background-size:170px;
}
.blyf-login{
}
.modal-title{
	font-family: 'open sans';
	font-size: 36px;
    margin-bottom: 20px;
	font-weight:300;
}
.profile-frm{
	width:100%;
}
.profile-frm label{
	font-size:14px;
}
.profile-frm input{
	color:#cdcdcd !important;
}
.welcom-txt h1{
	font-size:30px;
	font-family:'open sans';
	font-weight:lighter;
	color:#bbbbbb;
	margin-bottom:20px;
}
.form-cntrl{
	width: 100%;
    height: 40px;
    border: 1px solid;
}
.modal-body {
    padding: 0px !important;
}
.contrl-label{
	font-weight: 300;
    font-size: 20px;
    display: block;
	margin-bottom:3px;
}
.form-control {
    line-height: 0.25;
}
.ful-frm{
	width: 90%;
    float: left;
}
.frm-btn{
	width: 9%;
    float: left;
    margin-top: 39px;
    margin-left: 3px;
}
.frm-btn button{
    line-height: 3.0;
    text-align: center;
}
.input-btn button{
	min-width: 56px !important;
	line-height: 3.0 !important;
	margin-left:4px;
	padding:0px !important;
}
.ordr-page-img{
	background-size: cover;
    background-position-y: 50%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}
.page-box{
	background-color: #fff;
    padding: 25px;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
	box-shadow: 0px 0px 50px -25px #2d2d2d;
}
.page-box h2{
	font-size:28px;
	font-weight:600;
	font-family:'open sans';
	margin-bottom:25px;
}
.box-btn a, .button {
    padding: 5px 25px;
    min-width: 125px;
    text-align: center;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
	cursor:pointer;
}
.box-btn button:hover, .box-btn button:focus{
	/*background-color: #9b2743;*/
}
.nav-tabs .nav-link, .top-tab {
    font-size: 12px;
	text-transform:uppercase;
	/*background: #fff;*/
}
.tab-hedng h2{
	font-size:28px;
	text-transform:uppercase;
	font-family:'open sans';
	font-weight:500;
}
.tab-hedng p{
	font-size:12px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
	border-color:#fff;
}
.prictxt-tag {
    color: #ffffff;
	max-height: 28px;
    background-color: #8c1230;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "LatoLight";
    float: left;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
.btnsection-fixed{
	position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: #eaeaea;
    padding: 20px 0;
    z-index: 10;
}
.pro-box{
	background:#fff;
	border:1px solid #d3d2c3;
}
.pro-box-heading{
	background:#eae9dc;
	padding:10px;
}
.pro-box-heading h2{
	font-size:20px;
	color:#2b2b2a;
	font-family:'open sans';
	font-weight:300;
	padding:0;
	margin:0;
}
.item-img{
	position:relative;
}
.item-img img{
	width:100%;
}
.item-descript{
	background:#fff;
	padding:10px;
}
.item-descript h3{
	font-size:20px;
	font-weight:400;
	font-family:'open sans';
	color:#232323;
}
.item-price{
	font-size:24px;
	font-weight:400;
	font-family:'open sans';
	color:#232323;
}
.item-btn{
    font-size: 16px;
    background-color: #D7DBD3;
    padding: 5px 10px;
    color: #2b2b2a;
    font-weight: 500;
	border-radius:5px;
	border:none;
	cursor:pointer;
}
.image{
	position: relative;
}
.img-wrapper{
	width: 66px;
    height: 66px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    line-height: 60px;
    margin-left: 25px;
    margin-right: 15px;
}
.img-wrapper img{
	width:100%;
	height:100%;
}
.calories{
	position: absolute;
    width: 50px;
    height: 50px;
    background: #4b9800;
    color: #ffffff;
    text-align: center;
    font-family: "ReemKufi-Regular";
    font-size: 16px;
    top: 5px;
    left: 0;
	border-radius:50%;
}
.calories span{
	display: block;
    font-size: 12px;
}
.fixedheightcontainer{
  height: 480px;
  overflow-y:scroll;
}
.pro-list{
	background-color: #ffffff;
    border: 5px solid #eae9dc;
	margin:10px;
	cursor:pointer;
}
#item-scrol::-webkit-scrollbar-track
{
	border-radius: 6px;
	background-color: #fff;
}

#item-scrol::-webkit-scrollbar
{
	width: 9px;
	background-color: #fff;
}

#item-scrol::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	background-color: #d0d0d0;
}
.kcal {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    background-color: #9b2743;
	cursor:pointer;
}
.info-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3d2f2e;
	color:#fff;
	font-size:12px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.warning-icon {
    position: absolute;
    top: 10px;
    right: 40px;
    background:url(../images/allergens-warning.png) no-repeat;
	color:#fff;
	font-size:12px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
}
.base-btn{
    position: absolute;
    top: 100px;
    left: 20px;
    background: #000;
	opacity:0.8;
	border-radius:50%;
	color:#fff;
	font-size:18px;
	font-weight:bold;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    width: 68px;
    height: 68px;
	line-height:68px;
}
.price{
	letter-spacing: 2px;
	text-align: center;
	border-right: 1px solid #eae9dc;
	padding:16px 0; font-size:12px;
}
.price span{letter-spacing: normal;
    position: relative;
    display: block;
	font-size:12px;
}
.tab-hedng{
}
.tab-hedng2{
	border-bottom: 1px solid #eae9dc;
}
.pro-detail-txt{
	border-right:1px solid #eae9dc;
	padding:16px 0;
}
.blyf-checkout-products {
    position: relative;
    padding: 10px 0;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
	width: 100% !important;
}
.blyf-checkout-products, .blyf-checkout-product table {
    width: 100%;
}
.blyf-checkout-products, .blyf-checkout-product table tr td:first-child {
    width: 70%;
    text-transform: uppercase;
    text-align: left;
}
.blyf-checkout-products, .blyf-checkout-product table tr td {
    width: 25%;
    padding: 4px 10px;
    text-align: right;
	font-size: 12px;
}
.totals{
	border-top: 1px solid #f3f3f3;
}
.cros-icon{
	padding:1px 0;
}
.cros-icon i{
	font-size:20px;
	color:#000;
	margin-top: 7px !important;
}
.pro-detail-txt h3{
	font-size:14px;
	text-transform:uppercase;
	color:#2b2b2a;
	font-family:'open sans';
	font-weight:300;
}
.pro-detail-txt p{
	font-size:12px;
	color:#878677;
	font-family:'open sans';
}
.item-heading{
	background:#2b2b2a;
	opacity:0.6;
	padding:10px;
	cursor:pointer;
}
.item-heading h3{
	font-size:14px;
	color:#fff;
	font-family: 'open sans';
	cursor:pointer;
}
.pro-list:hover, .pro-list:focus, .pro-list.active/*, .select*/{
	border-color:#9a2743;
}
.item-heading:hover/*, .select*/{
	background:#9a2743;
	opacity:1;
}
.item-heading:Onclick, .item-heading h3:focus, .pro-list:focus, .item-img:focus{
	background:#4b9800;
	border:#4b9800;
	cursor:pointer;
	color:#fff;
	margin:10px;
}
<!-- graph -->
#live-poll-area {
  overflow: auto;
}
.graph-container {
  display: none;
}
.canvas .graph-container {
  display: block;
}
.graph-container .graph {
  width: 160px;
  margin: 0 auto 25px auto;
}
.graph-container .graph canvas {
  max-width: 140px;
  height: auto;
}
.bar-chart {
  list-style-type: none;
  /*margin: 0 auto;*/
  padding: 0;
  max-width: 244px;
}
.bar-chart li {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.45;
  overflow: auto;
}
.bar-chart span {
  display: block;
}
.bar-chart .label {
  font-weight: 700;
  width: 70%;
  float: left;
}
.bar-chart .percentage {
  width: 30%;
  float: right;
  font-size: 12px;
  text-align: right;
}
.bar-chart .bar-track {
  clear: both;
  display: block;
  background: #e6f0f2;
  /*box-shadow: 0 2px 0 #cccccc;*/
  height: 3px;
  overflow: visible;
  margin-bottom: 10px;
}
.bar-chart .bar {
  display: block;
  height: 3px;
}
.bar-chart .answer-0 .bar {
  background-color: #ce0f42;
  /*box-shadow: 0 2px 0 #99102e;*/
}
.bar-chart .answer-1 .bar {
  background-color: #72be44;
  /*box-shadow: 0 2px 0 #538e32;*/
}
.bar-chart .answer-2 .bar {
  background-color: #f15637;
  /*box-shadow: 0 2px 0 #bd4429;*/
}
.bar-chart .answer-3 .bar {
  background-color: #8b1851;
  /*box-shadow: 0 2px 0 #53002c;*/
}
.btns-div{
	margin-top: 20px;
    float: left;
    width: 100%;
}

@media only screen and (min-width: 600px) {
  .canvas .graph-container .graph {
    margin: 0 30px;
    padding: 0;
    float: right;
  }
  .canvas .bar-chart {
    float: left;
    min-width: 244px;
  }
}
<!-- end of graph -->

@media(max-width: 1199px) {
	.offers-inr-content2 {padding-left: 20px; padding-right: 0px;}
	.offers-inner a.order-now {margin: 0 0 30px;}
	.owl-theme .owl-nav.disabled + .owl-dots {top: -15%;}
	.navigation ul li a {padding: 15px 10px;}
}

@media(max-width: 991px) {

	.header {
		padding-right: 50px
	}

	.logo {
		position: static;
		transform: none;
	}
	.mean-container a.meanmenu-reveal span {
		color: #000;
		background-color: #000;
	}
	.mean-container.sticky-header {
		color: #000;
	}
	.mean-push {
		display: none
	}
	.right {
		padding-left: 0;
		flex-basis:auto;
	}
	.mean-container a.meanmenu-reveal.meanclose {
		color:#000;
	}
	.mean-container .mean-bar {background: none; position: fixed; padding: 0; min-height: 0; transform: translateY(93px); transition: .3s;}
	/*.mean-container a.meanmenu-reveal {transform: translateY(-64px);}*/
	/*.sticky-header.mean-container .mean-bar {transform: translateY(75px);}*/
	.mean-container a.meanmenu-reveal{top:-188px;}
	.sticky-header.mean-container .mean-nav {max-height: calc(100vh - 75px);}
	.mean-container .mean-nav {margin-top: -72px; background: #3d2f2e; max-height: calc(100vh - 105px); overflow: auto;}
	.mean-container .mean-nav ul li a{display: inline-block; width: 100%; padding: 1em 3%; font-size: 1.3rem; box-sizing: border-box; border-top: 1px solid rgba(255,255,255,.25);}
	.mean-container .mean-nav ul li li a {width: 100%; padding: 1em 5%; opacity: 1; color: #ffffff !important;}
	.mean-container .mean-nav ul li a:hover{color: #ffffff;}
	.mean-container .mean-nav ul li a.mean-expand {display: flex; align-items: center; justify-content: center; padding: 0 !important; width: 46px; height: 46px; border-left: 1px solid rgba(255,255,255,.25) !important; border-bottom: 1px solid rgba(255,255,255,.25) !important;}
	.mean-container .mean-nav ul li a.mean-expand:hover {background: #3d2f2e;}
	.mobile-nav {display: block;}
	.navigation {display: none;}
	.logo img {max-width: 120px;}
	.offers-inner {flex-direction: column;}
	.offers-inr-content1 {width: 100%;}
	.offers-inr-content2 {width: 100%; padding: 30px 0 0;}
	.owl-theme .owl-nav.disabled + .owl-dots {top: -7%;}
.btn-menu-div{display:none;}

}

@media(max-width: 767px) {
	html {font-size: 55.5%;}
	.mean-container .mean-nav ul li a.mean-expand {width: 42px; height: 42px;}
	.owl-theme .owl-nav.disabled + .owl-dots {top: -7.6%;}
	.products-inner img,.news-inner img {width: 100%;}
	.footer {text-align: center;}
	.banner .content {padding: 200px 0 100px;}
	.footer-items span {font-size: 1.6rem;}
	.footer-items ul.links li a, .footer-items a.over-ons {font-size: 1.5rem;}
	.featured-products,.news {padding: 50px 0 20px;}
	.pd-main {padding: 50px 0;}
	.header{height: 70px; padding:14px; }
	.mean-container a.meanmenu-reveal { top: -83px;}
	ul.signup-sec li:first-child a{ padding: 24px 15px;}
	.mean-container .mean-bar{transform: translateY(70px);}
	.mean-container a.meanmenu-reveal { top: -150px; }
	ul.signup-sec li{display: none;}
}

@media(max-width: 480px) {
	.owl-theme .owl-nav.disabled + .owl-dots {position: static;}
	.offers-sec {text-align: center;}
	.careers-inner a {padding: 7px 15px;}
	/*ul.signup-sec li:first-child {display:flex;margin-right: 10px;}*/
	ul.signup-sec li:first-child a{ padding:14px; text-align: center; max-width: 100px;}
}
#range {
  width: 250px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 0;
  height: 10px;
  background: #d8e0f3;
  outline: none;
}

#range .ui-slider-handle {
  position: absolute;
  margin: -3px 0 0 -9px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  border: 0;
  height: 18px;
  width: 18px;
  cursor: pointer;
  border:3px solid #000;
}

#range .ui-slider-handle:hover,
#range .ui-slider-handle:focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#range .ui-slider-range { background: #000; }

#range #currentVal {
  position: absolute;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    width: 160px;
    text-align: right;
    right: -40px;
    top: -8px;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 15%;
    height: 300px;
    border-top-left-radius: 5px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 8px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding:12px;
    border: 1px solid #ccc;
    width: 85%;
    border-left: none;
    height: 300px;
	border-top-right-radius: 5px;
}
.selct-tab, .login-input{
	display: block;
    width: 100%;
    padding: .375rem .75rem !important;
    font-size: 1.5rem !important;
	height:46px !important; 
    line-height: 1.5 ;
    color: #495057;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
	border-bottom-color: #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.selct-bar label{
	font-size:14px;
}

<!-- range slider -->
.content {margin:20px auto; list-style-type:none;}
li {margin:0px;}
ul {list-style-type:none;}
ul.options {margin-left:20px; margin-bottom:20px; list-style-type:disc;}
ul.options li {font-size:12px;}
input.slideControl{text-align:left; color:#333; font-weight:normal; border:none !important; width:10%;}

label-n {font-size:1em; font-weight:normal; float:left; margin-right: 6px; height: 34px;}

p {font-size:0.85em; line-height:2em;}
.txt-lnh li{line-height: 30px; font-size:12px; text-align:right;}
.txt-lnh li::before{
	background:url(../images/proteins.png) no-repeat;
	position: relative;
    content: '';
    display: block;
    float: left;
    width: 15px;
    height: 15px;
	top: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.slideControlContainer {
	height:10px; 
	background: #ededed;
	cursor:pointer;
	width:84%;
	float:left;
	margin:5px 10px 0 0;
}
	
.slideControlFill {
	background: #000;
	display:block;
	height:100%;
	position:relative;
	z-index:1;
	overflow:visible !important;
}
	
.slideControlHandle {
	display:block; 
	background: #fff;
	border-radius:15px;
	border:3px solid #000;
	width:25px;
	height:25px;
	position:absolute;
	right:0;
	top:-8px;
	z-index:5;
	cursor:pointer;
}	
.slideControlInput {
	/*font-size:1.5em;*/
	text-align:center;
	color:#333;
	font-weight:normal;
	text-align:left;
}
<!-- end range slider -->

.switch {
  position: relative;
  display: inline-block;
  min-width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.dish-style h3{
	font-size:16px;
	margin-bottom: 12px;
}
.dish-style h2{
	font-size:24px;
	font-family: 'open sans';
	font-weight: normal;
}
.dish-style p{
	font-size:12px;
	line-height:18px;
}
.pro-itm img{
    position: relative;
	/*float:left;*/
    width: 40px;
    height: 40px;
    margin-right: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}
.pro-itm-txt{
	float:left;
}
.blyf-ingredient {
    margin-top: 15px;
    text-align: center;
    height: 120px;
    font-size: 16px;
}
.blyf-ingredient img {
    position: relative;
    width: 100%;
    max-width: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
}
.user-profile{
	width: 12%;
    position: relative;
    float: left;
}
.user-profile-icon i{
	font-size:16px;
	color:#000;
}
.dropdown-menu {
    left: -66px;
    padding: .5rem 20px;
}
.dropdown-menu a{
	font-size:14px;
	text-align:center;
	border-bottom:1px solid #e2e2e2;
	line-height:30px;
}
.dropdown-menu a:last-child{
	border-bottom: none;
}
.dropdown-menu a:hover, .dropdown-menu:focus{
	color:#000;
	background:#fff;
	text-decoration:none;
	border-radius: 4px;
}
.shopng-crt{
	background:#9b2743;
	border-radius:5px;
	width:16%;
	position:relative;
	float:right;
	padding: 5px 10px;
    line-height: 30px;
	color:#fff;
}
.shopng-crt i{
	color:#fff;
	font-size:18px;
}
.shopng-crt span{
	color:#fff;
	font-size:18px;
	float:right;
}
.spti-day{
	width: 39%;
    float: left;
    position: relative;
}
.spti-day button{
	background: #f9f9f9;
    border:1px solid #9b2743;
    padding:8px;
	border-radius:4px;
}
.spti-day-btn{
	left: -10px;
    width: 245px;
    margin-left: -26px;
	background:#9b2743;
}
.spti-day-btn ul li{
    float: left;
}
.spti-day-btn li a{
	color:#fff;
	border-bottom:none;
}
.btn-menu-div{
}
.pls-icon{
	/*position:absolute;*/
	font-size:40px;
	font-weight:bold;
	color:#000;
	cursor:pointer;
}
.pls{
	right: 110px;
    top: 96px;
    position: absolute;
}
.minas{
	right: 210px;
    top: 96px;
    position: absolute;
}
.list-linehigt li{line-height: 30px;}
.range-pls{
	font-size:20px;
	font-weight:normal;
	color:#000;
	cursor:pointer;
}
.range-plsicon{
	right: 26px;
    top: -16px;
    position: absolute;
}
.range-minsicon{
	right: 26px;
    top: 10px;
    position: absolute;
}